{% extends 'base.html' %}
{% block title %} {{ title }} Negocio {% endblock %}
{% block content %}
  <div class="row mt-5 pl-3">
    <h1 class="display-3 ml-4 mt-3">{{ title }} Negocio</h1>
      <button type="button" onclick="location.href='{% url 'listar_negocios' %}'" class="btn btn-success float-right m-5">Negocios</button>
  </div>
  <div class="mx-5 my-3">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for campo in form.visible_fields %}
        <div class="input-group input-group-sm mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ campo.label_tag }}</span>
          </div>
          {{ campo }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">{{ title }}</button>
    </form>
  </div>
{% endblock %}