{% extends 'base.html' %}
{% block title %} Negocios {% endblock %}
{% block content %}
    <!--<div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 float-left mx-5">Negocios</h1>
    </div>-->
    <h1 class="display-3 ml-4 my-5">Negocios</h1>
    <div class="table-responsive container">
        <table class="table table-striped text-center table-bordered mx-auto w-auto">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Logo</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
            <tbody>
                {% for negocio in negocios %}
                    <tr>
                        <td> <a href='{% url 'verNegocio' negocio.id %}'>{{ negocio.nombre }}</a></td>
                        <td>{{ negocio.logo }}</td>
                        <td>{{ negocio.ubicacion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}