{% extends 'base.html' %}
{% block title %} negocios {% endblock %}
{% block content %}
    <div class="row mt-5 pl-3">
        <h1 class="display-3 ml-4 mt-3">Negocios</h1>
        <button type="button" onclick="location.href='{% url 'crear_negocio' %}'" class="btn btn-success float-right m-5">Nuevo Negocio</button>
    </div>
    <div class="table-responsive container">
        <table class="table table-striped text-center table-bordered mx-auto w-auto">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Logo</th>
                    <th>Ubicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for negocio in negocios %}
                    <tr>
                        <td class="align-middle">{{ negocio.nombre }}</td>
                        <td class="align-middle">
                            <figure class="figure">
                                <img src="{{ negocio.logo.url }}" class="img-fluid figure-img" style="max-width:300px;width: expression(this.width > 300 ? 300: true);">
                            </figure>
                        </td>
                        <td class="align-middle">{{ negocio.ubicacion }}</td>
                        <td class="dropdown align-middle">
                            <button type="button" class="btn btn-info btn-sm btn-block" onclick="location.href='{% url 'editar_negocio' negocio.id %}'">Editar</button>
                            <a href="" class="btn btn-danger btn-sm btn-block" data-toggle="dropdown">Eliminar</a>
                            <div class="dropdown-menu">
                                <form class="form container-fluid" method="POST" action="{% url 'eliminar_negocio' negocio.id %}">
                                    {% csrf_token %}
                                    <h5 class="">¿Estás seguro de eliminar?</h5>
                                    <button type="submit" class="btn btn-sm btn-danger btn-block">Eliminar</button>
                                    <button type="" class="btn btn-sm btn-success btn-block" data-toggle="dropdown">Cancelar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}