{% extends 'base.html' %}
{% block title %} Negocios {% endblock %}
{% block content %}
    <div class="row mt-5 pl-3">
        <h1 class="display-3 ml-4 mt-3">Negocios</h1>
    </div>
    <div class="table-responsive container">
        <table class="table table-striped text-center table-bordered mx-auto w-auto">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Logo</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
            <tbody>
                {% for negocio in negocios %}
                    <tr>
                        <td> <a href='{% url 'verNegocio' negocio.id %}'>{{ negocio.nombre }}</a></td>
                        <td>{{ negocio.logo }}</td>
                        <td>{{ negocio.ubicacion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}